/* Hero.css */

.hero-wrapper {
  position: relative;
}

.bubble-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
}

.baTaKsaT {
  max-width: unset;
  max-height: unset;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.baTaKrd {
  background-color: rgba(var(--color_text_default_rgb), 0.4);
}

.baTaLaQr0 {
  padding: 1rem;
}

.baTaKri {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}

.baTaKrj {
  font-size: 1.5rem;
}
