.v-container .image-container {
  border: none;
  padding-right: 40px;
}
.v-container > div {
  flex: 1;
}

.headingtext {
  font-size: 25px;
  align-items: center;
  align-content: center;
}

.vstyle {
  padding-right: 40px;
}

.v-right {
  gap: 0.5rem;
}
/* Value.css */

.learn-more-button {
  margin-top: 20px;
  text-align: center;
}

.learn-more-button .button {
  padding: 10px 20px;
  background-color: #1d4388;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-button .button:hover {
  background-color: #2769be;
}

.accordion {
  margin-top: 2rem;
  border: none;
}
.accordionItem {
  background: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}
.accordionButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}
.icon svg {
  fill: var(--blue);
}

.accordionButton .primaryText {
  font-size: 1.1rem;
}

@media (max-width: 1024px) {
  .v-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .accordionButton .primaryText {
    font-size: 0.8rem;
  }
}
